<body>
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/hobbies">Hobbies</a>
  <h1>My Hobbies</h1>
  <ul>
    <li>Play Chess</li>
    <li>Listening to Music</li>
    <li>Grilling</li>
  </ul>
</body>
